/*Geral*/
*  {
    margin:0;
    padding:0;
}

html, body {
  height:100%;
}

/*Formulario de login*/
#login{
  padding: 50px;
  height: 100%;
}


/*Rodapé*/
footer  {
  background-color: #333;
  color: #fff;
  margin:auto;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
}

footer p {
  padding: 10px;
  position: fixed;
  
}